* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
    filter: grayscale(35%);
  }
  
   body {
    background: rgb(173, 186, 194);
    color: rgb(22, 15, 63);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header {
    text-align: center;
    background-image: linear-gradient(
        to right,
        rgb(216, 215, 206),
        rgb(190, 190, 181),
        rgb(165, 165, 158),
        rgb(154, 153, 144),
        rgb(133, 132, 124),
        rgb(121, 120, 112)
      );
      color: rgb(57, 56, 53);
      padding: 25px 20px 10px 20px;
      border-bottom: 1.5px solid rgb(94, 93, 88);
  }

  header h1 {
      font-size: 32px;
  }
  header nav a {
      font-size: 30px;
      font-style: italic;
      color: rgb(35, 49, 160);
  }

  header nav a:hover{
    color: rgb(35, 49, 160);
      font-style: bold;
  }

  .hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}
  
  header p {
    color: rgb(41, 40, 46);
    margin: 5px 0 20px;
    font-size: 2rem;
  }

  .page-title {
    color: #313942;
    display: inline-block;
    border-bottom: 4px solid #313942;
    padding: 0 25% 15px 25%;
    font-weight: normal;
    font-size: 42px;
    font-style: italic;
}

.secondary-content {
    width: 80%;
    margin: center;
    padding-left: 10%;

}

.secondary-content h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-right: 0;
    margin-left:0;
}

.secondary-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-right: 0;
    margin-left:0;
}

.secondary-content ul {
    margin-top: 15px;
    margin-bottom: 15px; 
    margin-right: 20;
    margin-left:20;
}

.secondary-content li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
}

footer {
    width: 100%;
    background-image: linear-gradient(
      to right,
      rgb(216, 215, 206),
      rgb(190, 190, 181),
      rgb(165, 165, 158),
      rgb(154, 153, 144),
      rgb(133, 132, 124),
      rgb(121, 120, 112)
    );
    color: rgb(57, 56, 53);
    padding: 20px;
    border-top: 1.5px solid rgb(94, 93, 88);
  }
  
  footer h2 {
    font-size: 2.4rem;
    text-align: left;
    margin: 0;
  }
  footer div {
    font-size: 2rem;
    text-align: right;
    color: rgb(45, 44, 41);
  }
  footer div a {
    font-size: 1.4rem;
    text-align: right;
    color: rgb(45, 44, 41);
  }
    
