* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
    filter: grayscale(35%);
  }
  
  :root {
    font-size: 60%;
  }
  
  body {
    background: rgb(173, 186, 194);
    color: rgb(22, 15, 63);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header {
    background-image: linear-gradient(
      to right,
      rgb(70, 180, 200),
      rgb(70, 150, 200),
      rgb(70, 130, 164),
      rgb(66, 96, 193),
      rgb(50, 67, 138),
      rgb(40, 50, 138)
    );
    color: rgb(28, 20, 74);
    padding: 25px 20px 10px 20px;
    border-bottom: 1.5px solid rgb(33, 17, 199);
  }
  
  header p {
    color: rgb(41, 40, 46);
    margin: 5px 0 20px;
    font-size: 2rem;
  }
  
  p,
  li {
    font-size: 1.6rem;
  }
  
  form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  
  /* entry fields in header */
  form input {
    outline: none;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 2.1rem;
    border: 2px solid rgb(111, 103, 189);
    box-shadow: 0 0 10px rgb(136, 0, 255);
    border-radius: 12px;
  }
  
  form .form-group {
    margin: 10px 6px 10px 0;
    flex: 1;
  }
  
  footer {
    width: 100%;
    background-image: linear-gradient(
      to right,
      rgb(70, 180, 200),
      rgb(70, 150, 200),
      rgb(70, 130, 164),
      rgb(66, 96, 193),
      rgb(50, 67, 138),
      rgb(29, 20, 50)
    );
    color: rgb(28, 20, 74);
    padding: 20px;
    border-top: 1.5px solid rgb(33, 17, 199);
  }
  
  footer h2 {
    font-size: 2.4rem;
    text-align: left;
    margin: 0;
  }
  footer div {
    font-size: 2rem;
    text-align: right;
    color: #7a829a;
  }
  footer div a {
    font-size: 1.4rem;
    text-align: right;
    color: #7a829a;
  }
  
  .page-title {
    color: blue;
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 4.5rem;
  }
  


  