*,
*::before,
*::after {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
  filter: grayscale(35%);
}

:root {
  font-size: 60%;
}

body {
  background: rgb(173, 186, 194);
  color: rgb(22, 15, 63);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
  background-image: linear-gradient(
    to right,
    rgb(70, 180, 200),
    rgb(70, 150, 200),
    rgb(70, 130, 164),
    rgb(66, 96, 193),
    rgb(50, 67, 138),
    rgb(40, 50, 138)
  );
  color: rgb(28, 20, 74);
  padding: 25px 20px 10px 20px;
  border-bottom: 1.5px solid rgb(33, 17, 199);
}

header p {
  color: rgb(41, 40, 46);
  margin: 5px 0 20px;
  font-size: 2rem;
}

p,
li {
  font-size: 1.6rem;
}

/* form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

/* entry fields in header */
form input {
  outline: none;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 2.1rem;
  border: 2px solid rgb(111, 103, 189);
  box-shadow: 0 0 10px rgb(136, 0, 255);
  border-radius: 12px;
}

form .form-group {
  margin: 10px 6px 10px 0;
  flex: 1;
}
*/ .wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

footer {
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(70, 180, 200),
    rgb(70, 150, 200),
    rgb(70, 130, 164),
    rgb(66, 96, 193),
    rgb(50, 67, 138),
    rgb(29, 20, 50)
  );
  color: rgb(28, 20, 74);
  padding: 20px;
  border-top: 1.5px solid rgb(33, 17, 199);
}

footer h2 {
  font-size: 2.4rem;
  text-align: left;
  margin: 0;
}
footer div {
  font-size: 2rem;
  text-align: right;
  color: #7a829a;
}
footer div a {
  font-size: 1.4rem;
  text-align: right;
  color: #7a829a;
}

.page-title {
  color: blue;
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 4.5rem;
}
